@import 'reset';
@import 'tostify';
@import 'fonts/global';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

body {
  min-height: 100vh;
  color: var(--text-color);
  font: var(--font-m);
  font-family: var(--font-family-main);
}
