:root {
  --toastify-color-info: #91caff !important;
  --toastify-color-success: #b7eb8f !important;
  --toastify-color-warning: #ffe58f !important;
  --toastify-color-error: #ffccc7 !important;
  --toastify-toast-width: 420px !important;
  --toastify-text-color-info: #4096ff !important;
  --toastify-text-color-success: #95de64 !important;
  --toastify-text-color-warning: #ffd666 !important;
  --toastify-text-color-error: #ff7875 !important;
}
