.sider {
  transition: all 0.5s ease;

  .logotip {
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
  }

  .collapsedLogotip {
    background-image: var(--logotip-url);
    background-position: 50% 50%;
  }

  .fullLogotip {
    background-image: var(--full-logotip-url);
    background-position: 50% -50%;
  }
}

.theme {
  background: var(--bg-color);
}
