@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;

  src: local('Manrope'), url('./fonts/Manrope-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;

  src: local('Manrope'), url('./fonts/Manrope-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;

  src: local('Manrope'), url('./fonts/Manrope-Bold.ttf') format('ttf');
}

body {
  margin: 0;
  background-color: rgba(245, 246, 248, 1);
  /* background-color: black; */

  font-family: 'Manrope', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

.App {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
