.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  background: var(--bg-color);

  .languageSelect {
    width: 80px;
  }

  .icon {
    width: 28px;
    height: 28px;
  }
}
