:root {
  --bg-color: #fff;
  --second-bg-color: #f8f8f8;
  --inverted-text-color: #fff;
  --bg-auth-view: linear-gradient(112.25deg, #cce2ff 10%, #d9f1e3 45%, #fff 100%);

  --text-second-color: #656565;
  --text-color: #001029;

  --logotip-url: url('../../../../public/assets/icons/logotip_short_light.svg');
  --full-logotip-url: url('../../../../public/assets/icons/logo-var-2.svg');
}
