.ant-render-preview-toolbar {
  display: flex;
  align-items: center;
}

.ant-image-preview-operations {
  padding: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.5);
}

.ant-image-preview-operations-operation {
  margin: 0;
}

.ant-render-preview-toolbar-download-link {
  height: 45px;
  display: flex;
  align-content: center;
  padding: 12px 11px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  color: rgba(255, 255, 255, 0.65);
}

.ant-render-preview-toolbar-download-link:hover {
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}

.ant-image-preview-switch-right,
.ant-image-preview-switch-left,
.ant-image-preview-close {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.65);
}

.ant-image-preview-switch-right:hover,
.ant-image-preview-switch-left:hover,
.ant-image-preview-close:hover {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.85);
}

.ant-image-preview-switch-left-disabled,
.ant-image-preview-switch-right-disabled {
  background: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.5);
}

.ant-image-preview-switch-left-disabled:hover,
.ant-image-preview-switch-right-disabled:hover {
  background: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.5);
}
